<header id="header">
  <mat-card>
    <nav id="navigation">
      <ul>
        <li>
          <a
            routerLink="/">
            Dataset
          </a>
        </li>
        <li>
          <a
            routerLink="/training"
            routerLinkActive="active">
            Training
          </a>
        </li>
        <li>
          <a
            routerLink="/inference"
            routerLinkActive="active">
            Inference
          </a>
        </li>
      </ul>
    </nav>
  </mat-card>
</header>
